:root {
	--space-1: 4px;
	--space-2: 8px;
	--space-3: 12px;
	--space-4: 16px;
	--space-5: 24px;

	--font-size-base: 1.2rem;
	--font-size-big: 1.5rem;

	--_color-1: #134e4a; /* dark teal */
	--_color-2: #ccfbf1; /* light teal */

	--bg: light-dark(var(--_color-2), var(--_color-1));
	--fg: light-dark(var(--_color-1), var(--_color-2));

	--button-bg: light-dark(var(--_color-1), var(--_color-2));
	--button-fg: light-dark(var(--_color-2), var(--_color-1));
}
